/* A first canvas animation
   Author: Richard Myatt
   Date: 1 November 2017
*/

body {
  background-color: lightblue;
}

#canvas {
  background-color: #fff;
}

#box {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
