/*
Walking man animation - sprite animation.

Author: Richard Myatt
Date:   29 October 2017


This is an example of a sprite animation which uses css to control the
animation.  There are many video tutorials on YouTube which explain how this
is achieved.
*/



.spriteAnim {
  background: url(https://cdn.codeandweb.com/blog/2014/11/05/animate-sprites-in-css-with-texturepacker/capguy-walk.png);
  width: calc(1472px /8);
  height: 325px;
  animation-name: walking-man;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
}

@keyframes walking-man {
  from {background-position: 0px;}
  to   {background-position: -1472px;}
}
